/* styles.css */

.hero-section {
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  
  .hero-title {
    font-size: 96px;
    text-align: center;
    color: #121212;
  }
@media (max-width: 1024px)  {
    .hero-section {
        height: 40vh;
    }
    .hero-title {
        font-size: 48px;
    }
    
    
  }  
  @media (max-width: 767px)  {
    .hero-section {
        height: 40vh;
    }
    .hero-title {
        font-size: 36px;
    }
}
  
.text-loop {
    position: relative;
    display: inline-block;
    width:70vw;
    overflow: hidden;
    
    

  }
  @media (min-width: 1024px)  {
    .text-loop {
        margin-top: -80px;
    }
  } 
  .looped-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 24px;
    margin-right: 90px;
    animation: textLoopAnimation 15s linear infinite;
  }
  
  @keyframes textLoopAnimation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }