.image-cover {
    width: 80vw;
    height: 70vh;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 auto;
    
  }
  
  .image {
    width: 100%;
    border-radius: 40px;
  }
  @media (max-width: 767px)  {
    .image-cover  {
        margin-top: -100px;
    }
    
}