/* ContactPage.css */

.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0px 20px 20px 20px;
    background-color: #f9f9f9;
    margin: 80px;
  }
  @media (max-width: 767px)  {
    .contact-page {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      padding: 0px 20px 20px 20px;
      background-color: #f9f9f9;
      margin: 20px;
    }
  }

  .contact-content {
    padding: 20px;
  }
  
  .contact-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .contact-description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .contact-details {
    margin-bottom: 30px;
  }
  
  .details-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .details-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .details-item {
    margin-bottom: 10px;
  }
  
  .contact-form {
    padding: 20px;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-input,
  .form-textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .form-textarea {
    height: 150px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    margin-right: 10px;
  }
  
  .social-media a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .social-media a:hover {
    color: #ccc;
  }
  
  @media (max-width: 768px) {
    .contact-page {
      grid-template-columns: 1fr;
    }
  }
  